<!-- th:fragment="formErrorsFragment"는 다른 템플릿에서 이 div 태그의 영역을 사용할 수 있도록 이름을 설정한 것 -->
<!-- 검증이 실패한 이유는 #fields.allErrors()로 확인. 오류의 내용이 담겨 있다 -->
<!-- 부트스트랩의 alert alert-danger 클래스를 사용하여 오류 메시지가 붉은 색으로 표시되도록 -->
<!-- 오류를 표시하려면 타임리프의 th:object 속성이 반드시 필요 -->
<!-- th:object는 <form>의 입력 항목들이 QuestionForm과 연결된다는 점을 타임리프에 알려주는 역할 -->
<div th:fragment="formErrorsFragment" class="alert alert-danger"
     role="alert" th:if="${#fields.hasAnyErrors()}">
    <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
</div>
