<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <!-- 405오류 발생 `/question/create` URL을 POST 방식으로는 처리할 수 없음 -->
    <form th:action="@{/question/create}" method="post">
        <div class="mb-3">
            <!-- 제목 input 텍스트 창 사용 -->
            <label for="subject" class="form-label">제목</label>
            <input type="text" name="subject" id="subject" class="form-control">
        </div>
        <div class="mb-3">
            <!-- 내용 글자 수 제한 없는 textarea 창 사용 -->
            <label for="content" class="form-label">내용</label>
            <textarea name="content" id="content" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>
</div>
</html>
